@use "../../styles/variables" as *;
@use "../../styles/mixins";

.button {
  background-color: $color-primary;
  color: white;
  border: none;
  border-radius: $radius;
  padding: 0.5rem 1rem;
  font-family: $font-title;
  font-weight: 600;
  cursor: pointer;
  @include mixins.transition();

  &:hover {
    background-color: $color-secondary;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.98);
  }

  &:focus-visible {
    outline: 2px solid $color-secondary;
    outline-offset: 3px;
  }
}
