
$color-bg: #0f1115;        
$color-bg-soft: #151821;  
$color-text: #f1f3f5;     
$color-muted: #9aa0a6;    
$color-primary: #486AF4;
$color-secondary: #748ffc;



$font-title: "Poppins", sans-serif;
$font-text: "Inter", sans-serif;


$max-width: 1200px;
$radius: 8px;


$bp-mobile: 768px;
$bp-tablet: 1024px;
