@use "../styles/variables" as *;

.about {
  max-width: 900px;
  margin: 0 auto;
  padding: 4rem 1.5rem;
  text-align: center;
}

.about h2 {
  font-family: $font-title;
  font-size: 2.6rem;
  margin-bottom: 2rem;
  color: $color-primary;
}

.about p {
  max-width: 760px;
  margin: 0 auto;
  font-family: $font-text;
  font-size: 1.35rem; 
  line-height: 1.75;
  color: $color-muted; 
}


@media (max-width: $bp-tablet) {
  .about {
    padding: 3rem 2rem;
  }

  .about h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  .about p {
    font-size: 1.1rem; 
    line-height: 1.65;
  }
}

@media (max-width: $bp-mobile) {
  .about p {
    font-size: 1rem;
    line-height: 1.6;
  }
}

